name: Auto Update Group B

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install requests pytz

      - name: Run Fetcher Script
        run: |
          python fetch_group_b.py   # <-- Yahan 'b' hona chahiye
          ls -la

      - name: Commit and Push
        run: |
          git config --global user.name "DarTeve-Bot"
          git config --global user.email "bot@darteve.in"
          git add live_matches_B.json  # <-- SABSE ZAROORI: Yahan 'B' karein
          git commit -m "Auto Update Group B" || echo "No changes"
          git push
